In [1]:
import pandas as pd
import numpy as np

In [2]:
code = 2749261283

In [3]:
chunk = [int(d) for d in str(code)]

In [4]:
df = pd.DataFrame()

df["n"] = chunk
df["+1"] = np.add(chunk, 1).tolist()
df["+2"] = np.add(chunk, 2).tolist()
df["+3"] = np.add(chunk, 3).tolist()
df.index = df.index + 1

df

    n  +1  +2  +3
1   2   3   4   5
2   7   8   9  10
3   4   5   6   7
4   9  10  11  12
5   2   3   4   5
6   6   7   8   9
7   1   2   3   4
8   2   3   4   5
9   8   9  10  11
10  3   4   5   6