### Library

In [1]:
import pandas as pd

### Data input

1. You can type the given table after the modification to the RA.csv

### Data convertion

In [2]:
df = pd.read_csv("RA.csv", header=None, dtype=int)
df.columns = (df.columns + 1)
df

   1   2  3   4  5   6  7   8
0  0   0  0   0  0   0  0   0
1  1   3  1   1  1   2  1   1
2  2   7  2   2  2   4  2   3
3  3  10  3   4  3   6  3   6
4  4  12  4   8  4   8  4   9
5  5  13  5  13  5  10  5  12
6  6  14  6  17  6  12  6  14
7  7  14  7  19  7  14  7  16
8  8  14  8  20  8  16  8  17

In [3]:
sizeX = len(df.index) - 1
sizeN = int(len(df.columns) / 2)

fMat = pd.DataFrame(index=range(sizeX + 1), columns=range(1, sizeN + 1))
sMat = pd.DataFrame(index=range(sizeX + 1), columns=range(1, sizeN + 1))
pMat = pd.DataFrame(index=range(sizeX + 1), columns=range(1, sizeN + 1))

In [4]:
for i in range(sizeN, 0, -1):
    for j in range(sizeX + 1):
        if i == sizeN:
            sMat[i][j] = [df[i * 2][j]]
            fMat[i][j] = max(sMat[i][j])
            pMat[i][j] = j
        else:
            sMat[i][j] = [[df[i * 2][k], fMat[i + 1][h]] for h, k in zip(range(j, -1, -1), range(j + 1))]
            fAllocated = [sum(stp) for stp in sMat[i][j]]
            fMat[i][j] = max(fAllocated)
            pMat[i][j] = [index for index, x in enumerate(fAllocated) if x == fMat[i][j]]

In [5]:
k = sizeX
xrArr = []

for i in range(sizeN):
    x = pMat[i+1][k][0] if i+1 != sizeN else pMat[i+1][k]
    u = sMat[i+1][k][x][0] if i+1 != sizeN else sMat[i+1][k][0]
    k = k - x

    xrArr.append([x, u])

In [6]:
xStr = ""
rStr = ""

for i in range(sizeN):
    xStr += f'x{i +1} = {xrArr[i][0]}, '
    rStr += f'r{i +1}({xrArr[i][0]}) = {xrArr[i][1]}, '

In [7]:
def sMatFormat(i, j): return [f'{item[0]} + {item[1]}' for item in sMat[i][j]]

### Boundary Condition

In [8]:
print(f'Boundary Condition')
for j in range(sizeX + 1):
    print(f'f{sizeN}({j}) = {fMat[sizeN][j]}, p{sizeN}({j}) = {pMat[sizeN][j]}')

Boundary Condition
f4(0) = 0, p4(0) = 0
f4(1) = 1, p4(1) = 1
f4(2) = 3, p4(2) = 2
f4(3) = 6, p4(3) = 3
f4(4) = 9, p4(4) = 4
f4(5) = 12, p4(5) = 5
f4(6) = 14, p4(6) = 6
f4(7) = 16, p4(7) = 7
f4(8) = 17, p4(8) = 8

### f_k(x) and p_k(x)

In [9]:
for i in range(sizeN - 1, 1, -1):
    print(f'For k = {i}')
    for j in range(sizeX + 1):
        print(f'f{i}({j}) = max{sMatFormat(i,j)} = {fMat[i][j]}, p{i}({j}) = {pMat[i][j]}')

For k = 3
f3(0) = max['0 + 0'] = 0, p3(0) = [0]
f3(1) = max['0 + 1', '2 + 0'] = 2, p3(1) = [1]
f3(2) = max['0 + 3', '2 + 1', '4 + 0'] = 4, p3(2) = [2]
f3(3) = max['0 + 6', '2 + 3', '4 + 1', '6 + 0'] = 6, p3(3) = [0, 3]
f3(4) = max['0 + 9', '2 + 6', '4 + 3', '6 + 1', '8 + 0'] = 9, p3(4) = [0]
f3(5) = max['0 + 12', '2 + 9', '4 + 6', '6 + 3', '8 + 1', '10 + 0'] = 12, p3(5) = [0]
f3(6) = max['0 + 14', '2 + 12', '4 + 9', '6 + 6', '8 + 3', '10 + 1', '12 + 0'] = 14, p3(6) = [0, 1]
f3(7) = max['0 + 16', '2 + 14', '4 + 12', '6 + 9', '8 + 6', '10 + 3', '12 + 1', '14 + 0'] = 16, p3(7) = [0, 1, 2]
f3(8) = max['0 + 17', '2 + 16', '4 + 14', '6 + 12', '8 + 9', '10 + 6', '12 + 3', '14 + 1', '16 + 0'] = 18, p3(8) = [1, 2, 3]
For k = 2
f2(0) = max['0 + 0'] = 0, p2(0) = [0]
f2(1) = max['0 + 2', '1 + 0'] = 2, p2(1) = [0]
f2(2) = max['0 + 4', '1 + 2', '2 + 0'] = 4, p2(2) = [0]
f2(3) = max['0 + 6', '1 + 4', '2 + 2', '4 + 0'] = 6, p2(3) = [0]
f2(4) = max['0 + 9', '1 + 6', '2 + 4', '4 + 2', '8 + 0'] = 9, p2(4) = [0]
f2(5) = max['0 + 12', '1 + 9', '2 + 6', '4 + 4', '8 + 2', '13 + 0'] = 13, p2(5) = [5]
f2(6) = max['0 + 14', '1 + 12', '2 + 9', '4 + 6', '8 + 4', '13 + 2', '17 + 0'] = 17, p2(6) = [6]
f2(7) = max['0 + 16', '1 + 14', '2 + 12', '4 + 9', '8 + 6', '13 + 4', '17 + 2', '19 + 0'] = 19, p2(7) = [6, 7]
f2(8) = max['0 + 18', '1 + 16', '2 + 14', '4 + 12', '8 + 9', '13 + 6', '17 + 4', '19 + 2', '20 + 0'] = 21, p2(8) = [6, 7]

### f_1(X) and p_1(X)

In [10]:
print(f'f{1}({sizeX}) = max{sMatFormat(1, sizeX)} = {fMat[1][sizeX]}, p{1}({sizeX}) = {pMat[1][sizeX]}')

f1(8) = max['0 + 21', '3 + 19', '7 + 17', '10 + 13', '12 + 9', '13 + 6', '14 + 4', '14 + 2', '14 + 0'] = 24, p1(8) = [2]

### f_1(x) and p_1(x) (in case you need them)

In [11]:
# for j in range(sizeX + 1):
#     print(f'f{1}({j}) = max{sMatFormat(1,j)} = {fMat[1][j]}, p{1}({j}) = {pMat[1][j]}')

### Backtracking

In [12]:
print("Optional allocation")
print(xStr)

print(f'f{1}({sizeX}) = {fMat[1][sizeX]}')

Optional allocation
x1 = 2, x2 = 6, x3 = 0, x4 = 0,
f1(8) = 24

In [13]:
print("Check")
print(rStr)

print('Sum of rk = ', sum(j for i, j in xrArr))

Check
r1(2) = 7, r2(6) = 17, r3(0) = 0, r4(0) = 0,
Sum of rk =  24

### Brute force

In [14]:
possible = pd.MultiIndex.from_product([list(range(sizeX + 1))] * sizeN).to_numpy()
possible = [item for item in possible if sum(item) == sizeX]
bf = pd.DataFrame(index=range(len(possible)), columns=range(2 * sizeN))

for i, items in enumerate(possible):
    for j, item in enumerate(items):
        bf[j * 2][i] = item
        bf[j * 2 + 1][i] = df[(j + 1)*2][item]

bf[2 * sizeN] = sum([bf[i] for i in range(1, len(bf.columns), 2)])
bf

     0   1  2  3  4  5  6   7   8
0    0   0  0  0  0  0  8  17  17
1    0   0  0  0  1  2  7  16  18
2    0   0  0  0  2  4  6  14  18
3    0   0  0  0  3  6  5  12  18
4    0   0  0  0  4  8  4   9  17
..  ..  .. .. .. .. .. ..  ..  ..
160  6  14  2  2  0  0  0   0  16
161  7  14  0  0  0  0  1   1  15
162  7  14  0  0  1  2  0   0  16
163  7  14  1  1  0  0  0   0  15
164  8  14  0  0  0  0  0   0  14

[165 rows x 9 columns]

### Print as CSV

In [15]:
# bf.to_csv('out.csv')

### Brute force's optimal solutions

In [16]:
bf[bf[2 * sizeN] == max(bf[2 * sizeN])]

     0  1  2   3  4  5  6  7   8
108  2  7  6  17  0  0  0  0  24